// Breakpoints for Media Query
$xs-screen: 480px;
$sm-screen: 568px;
$md-screen: 768px;
$lg-screen: 992px;
$xl-screen: 1140px;
$xxl-screen: 1440px;
$fhd-screen: 1920px;
$wqhd-screen: 2440px;

// Colors
$white: #FFFFFF;
$dark: #161616;
$aquamarine: #125D98;
$orange: #FB9300;
$red: #F54748;
$green: #4cd137;
$x-performance: rgba(98, 137, 255, 0.20);

// Font Family
$mitr: 'Mitr', sans-serif;

// Transitions
$main: 0.2s all ease;