// Breakpoints for Media Query
$xs-screen: 480px;
$sm-screen: 568px;
$md-screen: 768px;
$lg-screen: 992px;
$xl-screen: 1140px;
$xxl-screen: 1440px;
$fhd-screen: 1920px;
$wqhd-screen: 2440px;

// Colors
$white: #FFFFFF;
$aquamarine: #125D98;
$orange: #FB9300;
$red: #F54748;