/* Product Highlights */
.highlights {
  width: auto;

  &__row {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
  }

  &__row:nth-child(even) {
    flex-flow: row-reverse wrap;
  }

  &__column {
    max-width: 100%;
    width: 50%;
    position: relative;
  }

  &__image {
    width: 100%;
    height: 100%;
  }

  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
  }

  &__heading {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0 5rem 0 5rem;
  }

  &__p {
    padding: 2rem 5rem 0 5rem;
  }

  &__btn {
    display: block;
    text-transform: uppercase;
    margin: 2rem 5rem 0 5rem;
    padding: 1rem 3rem;
    border: 2px solid $dark;
  }

  &__btn:hover {
    cursor: pointer;
    transition: 0.1s linear;
    color: $white;
    background: $dark;
  }
}

@media (max-width: $lg-screen) {
  .highlights {
    &__column {
      width: 100%;
    }
  }
}