.product {
  /* Product Hero & Highlight Image */
  &__hero {
    display: flex;
    flex-flow: row wrap;
  }

  &__image {
    
  }

  /* Product Hero Content */
  &__heading {
    padding: 1.5rem 5rem 1rem 5rem;
  }

  &__under-tag {
    padding: 0 5rem 1rem 5rem;
    color: #001fd2;
  }

  &__description {
    padding: 2rem 0 0 0;
  }

  &__description-cta {
    margin: 3rem 0 1.5rem 0;
  }

  /* Product Content Columns */
  &__column {
    max-width: 100%;
    width: 50%;

    &-description-box {
      padding: 0.6rem 5rem 0 5rem;
    }
  }

  /* Column width modifiers */
  &__column:nth-child(1) {
    width: 65%;
    position: relative;
  }

  &__column:nth-child(2) {
    width: 35%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
  }

  /* Variants Styling */
  .variants {
    display: flex;
    flex-flow: row wrap;

    &__item {
      display: flex;
      flex-flow: column nowrap;
      padding: 0 1rem 1rem 0;

      &:hover {
        cursor: pointer;
      }
    }

    &__item-icon {
      width: 50px;
      height: 50px;
      margin: 0 0 0.5rem 0;
    }

    &__item-heading {
      font-family: 'Open Sans', sans-serif;
      text-align: center;
    }
  }

  /* Product Features */
  &__features {
    padding: 6rem 5rem 6rem 5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  &__features-item {
    display: flex;
    flex-flow: row nowrap;
  }

  &__features-icon {
    width: 1.5rem;
    height: auto;
  }

  &__features-content{
    display: flex;
    flex-flow: column nowrap;
    padding: 0 0 0 1.5rem;
  }

  &__features-heading {
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0 0 0.2rem 0;
  }

  /* Product Highlights */
  &__highlights {
    width: 100%;
  }

  &__highlights-row {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
  }

  &__highlights-row:nth-child(even) {
    flex-flow: row-reverse wrap;
  }

  &__highlights-column {
    max-width: 100%;
    width: 50%;
    position: relative;
  }

  &__highlights-image {
    width: 100%;
    height: 100%;
  }

  &__highlights-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
  }

  &__highlights-heading {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0 5rem 0 5rem;
  }

  &__highlights-p {
    padding: 2rem 5rem 0 5rem;
  }

  &__highlights-btn {
    display: block;
    text-transform: uppercase;
    margin: 2rem 5rem 0 5rem;
    padding: 1rem 3rem;
    border: 2px solid $dark;
  }

  &__highlights-btn:hover {
    cursor: pointer;
    transition: 0.1s linear;
    color: $white;
    background: $dark;
  }

  /* Sidebar Styling */
  &__sidebar {
    position: fixed;
    display: flex;
    flex-flow: column wrap;
    max-width: 350px;
    width: 100%;
    height: 100vh;
    right: 0;
    top: 0;
    background: $dark;
    color: $white;
    padding: 1rem 1rem 3rem 1rem;
    z-index: 1;
  }

  &__sidebar-counter {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    background: $green;
    z-index: 2;
  }

  /* Selected Variant Styling */
  &__sidebar-variant {
    height: auto;
    width: 100%;
    padding: 3rem 0 0 0;
    position: relative;
  }

  &__sidebar-variant-img {

  }

  &__sidebar-variant-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 0 0;
    min-height: 50px;
  }

  &__sidebar-variant-btn-close {
    width: 20px;
    height: 100%;
    padding: 1rem 0.3rem 1rem 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $red;
    cursor: pointer;
  }

  .active-list {
    display: flex;
    flex-flow: column nowrap;
    padding: 3rem 0 0 0;

    &__item{
      display: flex;
      flex-flow: row nowrap;
      position: relative;
      padding: 0.5rem 0 0.5rem 0;
    }

    &__item-image-box {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      max-width: 30%;
      max-height: 100%;

      img {
        object-fit: cover;
      }
    }

    &__item-content {
      font-size: 0.9rem;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      width: 100%;
      padding: 0 0 0 0.5rem;
    }

    &__item-delete-btn {
      height: 100%;
      width: 50px;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $red;
      font-family: 'Open Sans', sans-serif;
      font-weight: bold;
      cursor: pointer;
    }
  }

  &__sidebar-close {
    position: absolute;
    bottom: 62px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 100px;
    background: $aquamarine;
    color: $white;
    z-index: 2;
    cursor: pointer;
  }
}

// Set 100% column width on smaller than large screens
@media (max-width: $lg-screen) {
  .product {
    &__column {
      width: 100%;
    }

    &__highlights-column {
      width: 100%;
    }
  }
}