/* Product Features */
.features {
  padding: 6rem 5rem 6rem 5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  &__item {
    display: flex;
    flex-flow: row nowrap;
  }

  &__icon {
    width: 1.5rem;
    height: auto;
  }

  &__content{
    display: flex;
    flex-flow: column nowrap;
    padding: 0 0 0 1.5rem;
  }

  &__heading {
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0 0 0.2rem 0;
  }
}
